
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Welcome @User.Identity.Name



<div class="jumbotron">
    <h1>ETicketer</h1>
    <p>For your Ticket bookings, look no further.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>

