
@{
    ViewBag.Title = "Dashboard";
}

<h3>Dashboard</h3>

<ul class="nav nav-pills nav-stacked">

    <li class="dropdown">
        <a class="dropdown-toggle"data-toggle="dropdown" href="#">
            My Profile <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Edit</a></li>
            <li class="divider"></li>
            <li><a href="#">View</a></li>
            <li class="divider"></li>
            <li><a href="#">Delete</a></li>
            <li class="divider"></li>
        </ul>
    </li>
    
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Ticket <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Create</a></li>
            <li class="divider"></li>
            <li><a href="#">View</a></li>
            <li class="divider"></li>
            </ul>
    </li>

    <li><a href="#">History</a></li>
</ul>